@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    user-select: none;
    -webkit-user-select: none;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}

h1 {
    color: black;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
}

.home-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: opacity 0.3s ease,
                transform 0.3s ease;
}

.home-icon:hover {
    opacity: 0.8;
}

.home-icon:active {
    transform: scale(0.9);
}

main {
    flex-grow: 1;
    width: 100%;
    padding: 2.5em 0.5em 3.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

.first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input {
    cursor: pointer;
    width: 65vw;
    padding: 0.4em;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px 0 0 5px;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 1);
    transition: translate 0.4s ease, box-shadow 0.4s ease;
}

input:hover {
    translate: 0px 2px;
    box-shadow: 10px 7px 0 rgba(0, 0, 0, 1);
}

input:active {
    box-shadow: 10px 5px 0 rgba(0, 0, 0, 1);
}

input::file-selector-button {
    cursor: pointer;
    padding: 0.4em;
    font-weight: 700;
    color: white;
    background-color: black;
    border-radius: 5px;
}

.btn {
    cursor: pointer;
    height: 2.6em;
    width: clamp(3.5em, 10vw, 6em);
    border-radius: 0 5px 5px 0;
    background-color: black;
    color: white;
    font-size: 16px;
    border: none;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.2);
    transition: translate 0.4s ease, box-shadow 0.4s ease;
}

.btn:hover {
    translate: 0px 2px;
    box-shadow: 7px 7px 0 rgba(0, 0, 0, 0.2);
}

.btn:active {
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.notice {
    color: gray;
    font-size: 14px;
    text-align: center;
}

.scanned-container {
    flex-grow: 1;
    width: clamp(0em, 90vw, 60em);
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 1);
}

.copy-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 0 0.3em;
}

#copyBtn {
    cursor: pointer;
    height: 100%;
    padding: 0.3em;
    background-color: transparent;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
    border: none;
    transition: opacity 0.3s ease,
                transform 0.3s ease;
}

#copyBtn:hover {
    opacity: 0.8;
}

#copyBtn:active {
    transform: scale(0.9);
}

#scannedText {
    padding: 1em;
    color: gray;
    word-wrap: break-word;
}

#errorContainer {
    display: none;
    padding: 1em;
    color: red;
}

footer {
    width: 100%;
    padding: 0.7em;
    text-align: center;
    border-top: 1px solid black;
}

footer a {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}